/* GENERAL */

@font-face {
    font-family: 'Roboto-Slab';
    src: url("../src/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    src: url("../src/Lato/Lato-Regular.ttf") format('truetype');
  }

* {
    margin: 0;
    --border-radius: 6px;
    --logo-height: 50px;
    --foreground: #000;
    --background: #fff;
    --card-background: #fff;
    --accent-color: rgb(79, 99, 212);
    --page-bg: #fff;
    --page--bg: #f0f4f7;

}

body {
    text-align: left;
    position: relative;
    font-family: Lato, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: var(--foreground);
    background-color: var(--background);
}

/* BASIC FORMATTING */
hr {
    width: 30%;
    margin: 0.4rem;
    margin-left: auto;
    margin-right: auto;
}
.full-hr {width: 100%;}

h1 {
    font-weight: bolder;
    font-size: 2rem;
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    font-size: 1.7rem;
    margin: 0;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1.7rem;
    margin: 0;
}

h5 {
    text-align: center;
    font-size: 1.2rem;
}
h6 {font-size: 1.2rem;}

.point-list {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.icon-li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    border: solid;
    border-color: var(--foreground);
    border-width: 1px;
    border-radius: var(--border-radius);
}

a {
    text-decoration: none;
    color: #000;
}

article {margin-top: 4vh;}

p {margin: 0;}

.images, .images-dark, .images-light {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    margin-bottom: 2rem;
}
.images-dark, .images-light {
    width: 40vh;
    margin: 0;
}

.icon-dark, .icon-light {
    margin: 0 auto;
    height: 5rem;
    width: 5rem;
}
.images-dark {display: none;}
.images-light {display: inline;}
.icon-dark {display: none;}
.icon-light {display: inline;}

.bottom-margin {margin-bottom: 1.5rem;}

/* TITLE */
header {
    opacity: 1;
    padding: 0.5rem;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#rig-logo {
    height: 12vh;
    width: 12vh;    
}

.title {
    text-align: center;
    padding: 0 2rem;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* ARTICE */
/* PAGE ARANGEMENT */
.page, .page- {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: var(--page-bg);
}
.page- {background-color:var(--page--bg);}

/* BOTTOM PAGE CARD STYLING */
.card {
    background-color: var(--card-background);
    margin-top: 1.5rem;
    text-align: center;
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px #aaa;
    padding: 0.5rem;

}

/* BIG NUMBER STYLING */
.number {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}



/* DONATE BUTTON */
.donate-now {
    margin-top: 1.5rem;
    padding: 1rem auto;
    text-align: center; 
    border-radius: var(--border-radius);
    line-height: 5rem;
    background-color: var(--accent-color);
    box-shadow: 1px 1px 4px #aaa;
}

.donate-now a {
    color: #fff;   
    font-size: 2rem;
    font-weight: bold;
}

/* DARKMODE MOBILE */
@media (prefers-color-scheme: dark) {
    * {
        --foreground: #fff;
        --background: #000;
        --card-background: rgb(22, 22, 22);
        --accent-color: rgb(36, 44, 88);
        --page-bg: rgb(0, 0, 0);
        --page--bg: #0a0a11;
    }
    .card, .donate-now {
        background-color: var(--background);
        box-shadow: none;
        padding: 0.8rem;
        border: solid;
        border-color: var(--foreground);
        border-width: 1px;
        border-radius: var(--border-radius);
    }
    .donate-now {background-color: var(--foreground);}
    .donate-now a {color: var(--background);}
    .images-dark {display: inline;}
    .images-light {display: none;}
    .icon-dark {display: inline;}
    .icon-light {display: none;}

    .icon-dark, .icon-light {
        border-bottom: solid;
        border-width: 1px;
        margin: 0.4rem auto;
    }

    .icon-li {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
        padding: 0.8rem;
        border: none;
        border-color: var(--foreground);
        border-width: 1px;
        border-radius: var(--border-radius);
    }

}

/* DESKTOP OPTIMIZED */
@media only screen and (min-width: 768px) {
    body {
        text-align: center;
    }
    header{
        padding-left:  20%;
        padding-right: 20%;
    }

    .page, .page- {
        padding: 2rem 3%;
    }
    .images {
        height: 20vh;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    
    }

    hr {
        margin: 0.8rem auto;
    }
    p {
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
    
    .icon-dark, .icon-light {
        border-bottom: solid;
        border-width: 1px;
        margin: 0.4rem auto;
    }

    .icon-li {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
        padding: 0.8rem;
        border: none;
        border-color: var(--foreground);
        border-width: 1px;
        border-radius: var(--border-radius);
    }


    .point-list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }


    /* DARKMODE DESKTOP */
@media (prefers-color-scheme: dark) {
    * {
        --foreground: #fff;
        --background: #1a1b26;
        --card-background: #414868;
        --accent-color: #7aa2f7;
        --page-bg: ##1a1b26;
        --page--bg: #24283b;
    }
    .card, .donate-now{
        border: none;
        box-shadow: none;
    }
    .donate-now a {
        color: var(--background);
    }
}

}
