@font-face {
    font-family: 'Roboto-Slab';
    src: url("../src/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    src: url("../src/Lato/Lato-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'Fira';
    src: url("../src/Fira/FiraSans-Regular.ttf") format('truetype');
  }
* {
    margin: 0;
}
body {
    text-align: left;
    position: relative;
    font-family: Lato, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    --logo-height: 50px;
    --foreground: #000;
    --background: #fff;
    --card-background: #e1e1f7;
} 
hr {
    width: 100%;
    margin: 0.4rem;
    margin-left: auto;
    margin-right: auto;

}
h1 {
    font-weight: bolder;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}
h2 {
    line-height: 3rem;
    font-size: 3rem;
    margin: 0;
}
h4 {
    font-size: 1.7rem;
    margin: 0;
}
h3 {
}
h5 {
    margin-top: 1rem;
    font-size: 1rem;
}
ul {
    margin: 0.5rem 0rem;

}
a {
    text-decoration: none;
    color: #000;
}
blockquote {
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    opacity: 1;
    padding: 0.5rem;
    height: 100vh;

}

.title {
    text-align: center;
    padding: 0 2rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.from {
    font-size: 0.8rem;
    padding-bottom: 2rem;
}

.images {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

.conclusion {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
    
}
article {
    margin-top: 4vh;
}
p {
    margin: 0;
    
}



.page{
    padding: 0 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
}
#title {
    padding-top: 1rem;
}

.card {
    border: #ccc;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #aaa;
    padding: 0.5rem;

}


#rig-logo {
    height: 2.8rem;
    width: 2.8rem;
    margin-right: 8px;
}
#wbr-logo {
    width: 70%;
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.number {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    
}

.donate-now {
    padding: 1rem auto;
    text-align: center; 
    border-radius: 4px;
    line-height: 5rem;
    background-color: #000;
    box-shadow: 1px 1px 4px #aaa;
}
.donate-now a {
    color: #fff;   
    font-size: 2rem;
    font-weight: bold;
    
}

#for-wbr {
    padding-left: 6rem;
    text-align: right;
}
.info-icon {
    text-align: center;
}
.quote {
    padding: 1rem 1rem;
    font-size: 0.9rem;
}

.button {
    text-align: center;
    background-color: #15b144;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #fff;
    margin-top: 2rem;
}

.center-text {
    text-align: center;
}