/************
* ISSUES/2DO/EVT.FEATURES:
* -----------
* Accent + Highlight Colors (maybe more, e.g. variation rainbow style)
* Clean up and Sort out CSS(also potentially unnecessary redundancy)
* Evt Gradient for Light(BG and cards/text?)
* Split up Style.css for better Overview
*--------
* HIGH PRIO:
*--------
* Slideshow
* Topbar not displaying correctly on reload
* Mobile header optimisation(correct height, (horizontal))
* JS performance optimisations
*********/

/*
CLASS EXPLANATION:
- monochrome-line: currently only used for mobile dark/black theme
    as seperator for pages instead of color difference
-point-list: flexbox containing icon-li
-icon-li: flexbox displaying brief arguments with an icon
    depending on theme:
    -mobile black: black card with bright border
    -else: color filled card
-icon-dark, icon-light: icon used by icon-li
-images, images-dark, images-light: as the name says a picture,
    may be theme specific

*/

/* GENERAL */
@font-face {
    font-family: 'Roboto-Slab';
    src: url("../src/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf") format('truetype');
  }

@font-face {
    font-family: 'Lato';
    src: url("../src/Lato/Lato-Regular.ttf") format('truetype');
}

 
/* MOBILE LIGHT */
* {
    scroll-behavior: smooth;
    --accent-color: rgb(168, 205, 236);
    --background: #fff;
    --border-radius: 6px;
    --card-background: #a6cddd;
    --foreground: #000;
    --middleground: #0f0;
    --highlight-color: rgb(230, 141, 57);
    --logo-height: 50px;
    --page--bg: #f0f4f7;
    --page-bg: #fff;
    --shadow-color: #ccc;
    --sl-height: calc(100vw * .086);
    --inactive-btn-opacity: 1;
    --inactive-btn-bg: #000;
    margin: 0;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

/* BASIC FORMATTING */
p {line-height: 2rem;}

hr {
    margin: 0.4rem;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: none;
    border-bottom: solid;
    border-color: var(--foreground);
}

.major-hr {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.monochrome-line {
    display: none;
    margin: auto;
    width: 80%;    
}

.full-hr {width: 100%;}

h1 {
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

h2 {
    font-size: 1.7rem;
    margin: 0;
}

h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

h4 {
    font-size: 1.7rem;
    margin: 0;
}

h5 {
    font-size: 1.2rem;
    text-align: center;
}

h6 {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

button {font-size: .8rem;}

#topbar {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 2rem;
    background-color: #ffffffe1;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .5rem 0;
    line-height: 1.2rem;        
}
#topbar h3 {
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}
#t-why,
#t-wbr,
#t-atw,
#t-tra {
    position: absolute;
    top: 14px;
}



.sticky {
    box-shadow: 0px 0px 6px 0px black;
    position: fixed;
    top: 0;
}

.right-angle {
    border: 4px solid var(--foreground);
    border-radius: 2px;
    border-style: none none solid solid;
    height: 1rem;
    margin: auto;
    transform: rotate(-45deg);
    transition-duration: 0.2s;
    width: 1rem;
}

.page-down {
    background-color: var(--card-background);
    border-radius: 1.5rem;
    border: none;
    color: var(--foreground);
    height: 3rem;
    transition-duration: 0.2s;
    width: 3rem;
}

.page-down:hover .right-angle {
    border-radius: 4px;
    color: var(--background);
}

.page-down:hover {
    border-radius: 1rem;
    color: var(--background);
    margin-bottom: -0.5rem;
}

.point-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    padding: 0 1rem;
}

.icon-li {
    background-color: #ffffff69;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    text-align: center;
    box-shadow: 3px 3px 8px 1px var(--shadow-color);
    z-index: 5;
}

a {
    color: #000;
    text-decoration: none;
}

main {margin-top: 4vh;}

p {margin: 0;}

.images,
.images-light {
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
}

.images-light {
    margin: 0;
    width: 70vw;
}

.icon-dark,
.icon-light {
    height: 5rem;
    margin: 0 auto;
    width: 5rem;
}

.images-color,
.icon-dark {display: none;}

.ico-bk1,
.ico-bk2,
.ico-bk3,
.ico-bk4,
.ico-bk5,
.ico-bk6 {
    display: none;
    z-index: 4;
    position: absolute;    
}

.images-light,
.icon-light,
.img-hl-i-l {display: block;}

.icon-light {
    filter: invert(53%) sepia(20%) saturate(926%) hue-rotate(158deg) brightness(100%) contrast(101%);
}

.bg-sproket, .bg-disc {
    position: absolute;
    left: -300px;
    display: block;
    z-index: 1;
    height: 70vh;
}
.bg-disc {
    left: auto;
    right: 0;
}


.bottom-margin {margin-bottom: 1.5rem;}


.stage-lines {
    grid-row: 3;
    grid-column: 1 / span 2;
    width: 100%;
    height: 5vh;
    /* background-color: #666; */
}

#btn-s1,
#btn-s2,
#btn-s3,
#btn-s4,
#btn-s5,
#btn-s6 {
    line-height: .85rem;
    background-color: var(--inactive-btn-bg);
    color: var(--background);
    width: 2rem ;
    height: 2rem;
    padding: .6rem;
    border-radius: 1rem;
    border: none;
}
.click-here {display: none;}

#select-stage {
    display: inline;
    padding-right: .5rem;
}

.transalp {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 4rem;
    grid-template-columns: 276px 1fr;
    align-content: flex-start;

    gap: 1rem;
}

.placeholder {
    grid-row: 4;
    grid-column: 1 /span 2;
}

.trnslp-text {
    position: relative;
    padding: 15% 10%;
    height: 70vh;

    grid-row: 2;
    grid-column: 1 /span 2;
}


.click-here {
    position: absolute;
    top: 0;
    left: 4rem;
    margin-bottom: 20vh;
}


.img-hl {
    position: absolute;
    display: none;
    width: 100%;
}

.hl-images {
    pointer-events: none;
}

.img-hl-i-l {
    display: none;
    z-index: 3;
    width: 100%;
    position: absolute;
    top: inherit;
}


/* STAGE INFO */
.stage1,
.stage2,
.stage3,
.stage4,
.stage5,
.stage6 {display: none;}

#stage-info {
    width: 98vw;

    gap: 1rem;
    grid-row: 2;
    grid-column: 1 /span 2;
    align-self: flex-start;
    justify-self: center;

    display: grid;
    grid-template-rows: 1fr, 1fr, 1fr;
    grid-template-columns: 1fr, 1fr;
}

.stage-name {
    grid-row: 1;
    grid-column: 1 /span 2;
}

.stage-labels {
    grid-row: 2;
    grid-column: 1;
}
.stage-labels p {text-align: left;}

.stage-data {
    line-height: 2.5rem;
    grid-row: 2;
    grid-column: 2;
}
.stage-data p {text-align: right;}

.stage-descr {
    grid-row: 3;
    grid-column: 1 /span 2;
}


.trnslp-text{display: none;}
/* #stage1 {display: grid;} */

.slideshow {
    position: relative;
    display: block;
    background-color: black;

    height: 100%;
    width: 100%; 

    grid-row: 1;
    grid-column: 1 /span 2;
    align-self: start;
}

#pic {
    position: absolute;
    width: 100%;
    height: inherit;
    background-image: url("../src/img/4.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/* .s1ss {
    display: none;
    height: 20vh;
    width: 100%;
    width: auto;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
} */

/* .is-button {display: none;} */
.is-button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 50%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
    user-select: none;
    height: 100%;
    background-color: transparent;
    border: none;
}

.bt-right {
    right: .7rem;
    text-align: right;
}
.bt-left {
    left: .7rem;
    text-align: left;
}

.bt-left:hover, .bt-right:hover {
    transform: translateX(-9px);
    font-size: 2rem;
}

.bt-right:hover {transform: translateX(9px);}

#dot-holder {
    position: absolute;
    bottom: 0;
    width: 300px;
    text-align: center;
    right: 50%;
    margin-right: -150px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb99;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
}

  .active, .dot:hover {
    background-color: #54c6e2;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* TITLE */
header {
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    height: 97vh;
    justify-content: space-around;
    opacity: 1;
    padding: 0.5rem 2rem;
    text-align: center;
}

header .card {margin-top: 0;}

#rig-logo {
    display: none;    
    height: 12vh;
    width: 12vh;
}

#title {
    display: block;
}



/* ARTICE */
/* PAGE ARANGEMENT */
.page, .page- {
    background-color: var(--page-bg);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 0;
    z-index: -1;
    overflow: hidden;
    padding-top: 3rem;
}

.page- {background-color:var(--page--bg);}

/* BOTTOM PAGE CARD STYLING */
.card {
    background-color: var(--card-background);
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: 1px;
    border: #ccc;
    box-shadow: 1px 1px 4px #aaa;
    margin: 1.5rem 1rem;
    padding: 0.5rem;
    text-align: center;
}

.why, .advantages {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 10%;
}

.why-h5 {
    position: relative;
    z-index: 2;
}


/* BIG NUMBER STYLING */
.number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

/* DONATE BUTTON */
.donate-now {
    background-color: var(--highlight-color);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 4px #aaa;
    line-height: 5rem;
    margin: 1.5rem 1rem;
    padding: 1rem auto;
    text-align: center; 
}

.donate-now a {
    color: #fff;   
    font-size: 2rem;
    font-weight: bold;
}

.stage-lines {display: block;}
/* .btn-array {display: none;} */

footer {
    background-color: var(--shadow-color);
    border-radius: .6rem .6rem 0 0;
    border-bottom: none;
    position: absolute;
    height: 1.3rem;
    width: 96%;
    bottom: 0;
    left: 0;
    padding: 0 2%;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    
}
footer img {
    display: inline;
    height: 0.9rem;
    padding-left: 2px;
}
footer a {font-size: .9rem; display: inline-flex; align-items: center;}

/* footer {display: none;} */

/* MOBILE DARK */
@media (prefers-color-scheme: dark) {
    * {
        --accent-color: #1a1b26;
        --background: #000;
        --card-background: rgb(22, 22, 22);
        --foreground: rgb(187, 185, 185);
        --foreground: #d8d8d8;
        --highlight-color: #994e1c;
        --middleground: rgb(51, 51, 51);
        --page--bg: #000;
        --page-bg: #000;
        --shadow-color: #00000077;
        --inactive-btn-bg: #fff;
    }

    h5 {
        /* background-color: #fff; */
        border-radius: var(--border-radius);
        /* color: var(--background); */
        margin: 0 1rem;
        padding: 0.5rem;
    }

    #topbar {
        background-color: #000000ee;
    }

    .major-hr {display: none;}

    .monochrome-line {display: block;}

    .click-here img{filter: invert();}

    .card,
    .donate-now {
        background-color: var(--background);
        border: solid;
        border-color: var(--middleground);
        border-radius: var(--border-radius);
        border-width: 1px;
        box-shadow: none;
        padding: 0.8rem;
    }

    .donate-now {
        background-color: var(--foreground);
        border: none;
    }

    .donate-now a {color: var(--background);}

    .icon-dark{display: block;}

    .ico-bk1,
    .ico-bk2,
    .ico-bk3,
    .ico-bk4,
    .ico-bk5,
    .ico-bk6,
    .images-light {filter: invert(1);}
    .icon-light {display: none;}

    
    .img-hl-i-l {filter: invert(); }

    .icon-dark,
    .icon-light {
        border-bottom: solid;
        border-width: 1px;
        margin: 0.4rem auto;
    }

    .bg-disc, .bg-sproket {filter: saturate(0) brightness(60%);}

    .icon-li {
        background-color: #00000077;
        border: solid;
        border-radius: var(--border-radius);
        border-width: 1px;
        border-color: var(--middleground);
        display: flex;
        flex-direction: column;
        margin-bottom: 0.8rem;
        padding: 0.8rem;
    }

    footer a {color: var(--foreground);}
    footer img {filter:invert()} 
}


/* DESKTOP LIGHT */
@media only screen and (min-width: 768px) {
    * {
        --inactive-btn-opacity: .6;
        --inactive-btn-bg: var(--background)
    }
    body {text-align: center;}

    header{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 3rem 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        padding-left:  10vw;
        padding-right: 10vw;
    }

    header .subtitle {
        align-self: start;
        grid-column: 3;
        grid-row: 2;
        width: 30vw;
    }

    .hl-images {display: block;}
    .img-hl {display: block;}
    .btn-array {display: block;}
    .img-hl-i-l {display: block;}
    .stage-lines {display: block;}


    .images-color {display: inline;}

    .images-light {display: none;}

    .vr {
        border-left: solid 1px var(--foreground);
        grid-column: 2;
        grid-row: 1 / span 2;
        height: 80%;
        width: 1px;
    }

    h5 {
        font-size: 1.8rem;
        background-color: transparent;
        color: var(--foreground);
        padding: 0;
        margin-right: 0.5rem;
        margin-left: auto;
    }

    #rig-logo {
        align-self: flex-end;
        display: inline;
        grid-column: 1;
        grid-row: 1;
        height:  20vh;
        margin-bottom: 3rem;
        max-width: 12rem;
        width: auto;
    }

    #title {
        display: grid;
        align-self: flex-start;
        grid-column: 1;
        grid-row: 2;
        width: 20vw;
        height: auto;

    }

    .page-down {
        align-self: flex-end;
        grid-column: 2;
        grid-row: 2;
    }

    .major-hr {display: none;}

    .monochrome-line {display: none;}

    .page,
    .page- {
        padding: 0 0;
        flex-direction: column;
        padding-top: 3rem;
    }

    .images {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 30vw;
    }

    .images-light,
    .images-color {
        align-self: flex-end;
        grid-column: 3;
        grid-row: 1;
        height:  20vh;
        margin-bottom: 3rem;
        width: auto;
    }

    hr {margin: 0.8rem auto;}

    p {
        font-size: 1.1rem;
        text-align: center;
    }

    .stage-lines {
        /* padding-top: 1rem; */
        width: 100%;
        height: var(--sl-height);
        background-color: var(--background);
    
        grid-row: 1;
        grid-column: 1 /span 2;
    }
    
    
    .btn-array {
        position: absolute;
        width: 100%;
        height: inherit;
        display: flex;
        flex-direction: row;
        z-index: 1;
        transition: background-image 0.6s !important;
    }
    
    #btn-s1,
    #btn-s2,
    #btn-s3,
    #btn-s4,
    #btn-s5,
    #btn-s6 {
        display: inline-flex;
        align-content: flex-start;
        text-align: left;
        padding: 0;
        margin: 0;
        padding-top: .3rem;
        padding-left: 1.1%;
        height: inherit;
        border: none;
        top: 0;
        background-color: var(--background);
        color: var(--foreground);
        opacity: var(--inactive-btn-opacity);
        transition: background-image 0.6s !important;
    }

    #btn-s1 {width: 7.6% !important;}
    #btn-s2 {width: 21.5% !important;}
    #btn-s3 {width: 13.8% !important;}
    #btn-s4 {width: 9.9% !important;}
    #btn-s5 {width: 22.3% !important;}
    #btn-s6 {
        width: 24.9% !important;
        display: inline-flex;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .click-here {
        position: absolute;
        top: 0;
        left: 4rem;
        margin-bottom: 20vh;
    }
    
    #select-stage {
        display: none;
    }
    .card {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 15%;
        margin-bottom: 4rem;
        width: 50%;
    }

    
    .icon-li {
        
        border-color: var(--foreground);
        border-radius: var(--border-radius);
        border-width: 1px;
        border: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 1.2rem;
        padding: 0.8rem;
        width: 300px;
        height: 177px;
        flex-basis: auto;
    }

    .why, .advantages {
        flex-direction: row;
        min-height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 10%;
    }
    .advantages {flex-direction: row-reverse;}

    .wbr {
        align-items: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 1fr 3rem 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        padding-left:  2%;
        padding-right: 2%;
        padding-bottom: 4rem;
    }

    .wbr .images {
        grid-row: 1;
        grid-column: 1;
    }

    .wbr .bottom-margin {
        grid-row: 2;
        grid-column: 1;
        width: 80%;
    }

    .wbr h5 {
        grid-row: 1;
        grid-column: 3;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .wbr .card {
        grid-row: 2;
        grid-column: 3;
        width: 45%;
    }

    .atw {
        background-image: url("../src/img/atw-bg.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 680px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .atw p, .atw div {
        width: 60%;
        margin: 2rem 2rem;
    }

    .number {
        margin-bottom: 0.5rem !important;
        width: auto !important;
    }

    .donate-now {
        width: 75%;
        font-weight: lighter;
        text-transform: uppercase;
        letter-spacing: 3px;
    }


    .point-list {
        gap: 10px;
        flex-grow: 2;
        flex-direction: row;
        max-width: 800px;
        flex-wrap: wrap;
        
        
        justify-content: space-evenly;
    }

    .advantages .point-list {
        max-width: 1100px;
        
    }

    .transalp {
       grid-template-rows: var(--sl-height) 1fr 10vh 32px; 
       grid-template-columns: auto 1fr;
    }

    #stage-info {
        display: grid;
        grid-row: 2;
        grid-column: 1;
        width: 15vw;
        min-width: 276px;
        margin-left: 2rem;
    }

    /* SLIDESHOW */
/*     #stage1,
    #stage2,
    #stage3,
    #stage4,
    #stage5,
    #stage6 {
        display: none;
        gap: 1rem;
        grid-row: 2;
        grid-column: 1;
    } */

    .slideshow {
        display: block;
        height: 100%;
        width: 98%;
        margin-right: 2%;
        align-self: stretch;
        justify-self: stretch;

        grid-row:  2 ;
        grid-column: 2;
    }
    .s1ss {
        width: 80vw;
        height: 60vh;
        object-fit: fill;
    }

    



    /* DESKTOP DARK*/
    @media (prefers-color-scheme: dark) {
        * {
            --accent-color: #be3e17;
            --background: #1a1b26;
            --card-background: #204862;
            --foreground: #fff;
            --page--bg: #24283b;
            --page-bg: #1a1b26;
        }

        #topbar {background-color: var(--page--bg)}

        .icon-dark {
            filter: invert(53%) sepia(20%) saturate(726%) hue-rotate(158deg) brightness(100%) contrast(101%);
        }

        .bg-disc, .bg-sproket, .bg-atw {filter: none}


        .card,
        .donate-now{
            background-color: var(--card-background);
            border: none;
            box-shadow: none;
        }

        .donate-now {background-color: var(--highlight-color);}
        .donate-now a {color: var(--foreground);}
    }
}
