.slideshow {
    margin-top: 1rem;
    position: relative;
    display: block;
    background-color: black;
    width: 80vh;
    height: 20vh;
/* 
    grid-row: 2;
    grid-column: 1/span 2;
    align-self: start; */
}

#pic {
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url("../src/img/4.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 100;
}

.s1ss {
    display: none;
    height: 20vh;
    width: 100%;
    width: auto;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.is-button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    width: 3rem;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
    user-select: none;
    height: 100%;
    background-color: transparent;
    border: none;
}

.bt-right {right: .7rem;}
.bt-left {left: 0;}

.bt-left:hover, .bt-right:hover {
    transform: translateX(-9px);
    font-size: 2rem;
}

.bt-right:hover {transform: translateX(9px);}
#dot-holder {
    position: absolute;
    bottom: 0;
    width: 300px;
    text-align: center;
    right: 50%;
    margin-right: -150px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb99;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.4s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }
